<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlet.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploader</servlet-name>
        <servlet-class>servlet.Uploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMusique</servlet-name>
        <servlet-class>servlet.GetMusique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategorieMusique</servlet-name>
        <servlet-class>servlet.GetCategorieMusique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>servlet.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTopMusique</servlet-name>
        <servlet-class>servlet.GetTopMusique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMusique</servlet-name>
        <servlet-class>servlet.GetAllMusique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfile</servlet-name>
        <servlet-class>servlet.GetProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMusiqueRecent</servlet-name>
        <servlet-class>servlet.GetMusiqueRecent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploader</servlet-name>
        <url-pattern>/Uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMusique</servlet-name>
        <url-pattern>/GetMusique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategorieMusique</servlet-name>
        <url-pattern>/GetCategorieMusique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTopMusique</servlet-name>
        <url-pattern>/GetTopMusique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMusique</servlet-name>
        <url-pattern>/GetAllMusique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfile</servlet-name>
        <url-pattern>/GetProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMusiqueRecent</servlet-name>
        <url-pattern>/GetMusiqueRecent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
